body {
    background-image: linear-gradient(-90deg, rgba(67, 145, 165, 0), rgb(12, 151, 185));
}

h1 {
    font-weight: bold;
    text-align: left;
}

.container {
    margin-right: auto;
    margin-left: auto;
}

#MeganProfessional {
    max-width: 35%;
    height: auto;
}

#familySunflowers {
    max-width: 50%;
    height: auto;
    float: right;
}

.aboutMeText {
    font-size: large;
    font-family: 'Roboto Condensed', sans-serif;
    margin-bottom: 25px;
}

#shiaLebouf {
    font-size: small;
    font-style: italic;
    text-shadow: red;
    padding-right: 50px;
    padding-left: 50px;
    text-align: center;
}

#aboutMe {}

#Portfolio {}

#contactMe {}

.card {
    align-content: center;
}

.card-img-top {
    align-content: center;
    margin: auto;
    padding: auto;
    max-width: 100%;
    height: auto;
}

#nameLink {
    padding-left: 20px;
}

